In [1]:
import os
import pandas as pd
import numpy as np

In [133]:
df = pd.read_csv('feature.csv',header=None)
df[0:3][0:7]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Enr Govt1,Enr Govt2,Enr Govt3,Enr Govt4,Enr Govt5,Enr Govt6,Enr Govt7,Enr Govt9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Enr Pvt1,Enr Pvt2,Enr Pvt3,Enr Pvt4,Enr Pvt5,Enr Pvt6,Enr Pvt7,Enr Pvt9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enr R Govt1,Enr R Govt2,Enr R Govt3,Enr R Govt4,Enr R Govt5,Enr R Govt6,Enr R Govt7,Enr R Govt9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
newDf = pd.read_csv('Enr_Karnataka2013-14.csv',header = None)
commonDf = pd.concat([newDf[[0,1]]], axis=1)
start = 2
end = start + 7
temp = pd.concat([newDf[a]],axis=1)
temp
#fileDf = pd.concat(commonDf,temp,axis =1)
#fileDf

,2,3,4,5,6,7,8,9
0,Enr Govt1,Enr Govt2,Enr Govt3,Enr Govt4,Enr Govt5,Enr Govt6,Enr Govt7,Enr Govt9
1,22704,163024,0,811,727,8472,4142,0
2,15355,41088,0,198,778,0,137,0
3,10208,54698,8263,0,226,3431,150,0
4,18244,82133,4665,0,0,622,365,0
5,22500,156725,2433,600,0,2017,2190,0
6,28543,188465,0,302,919,5043,3991,0
7,29007,189994,341,656,0,4794,4528,0
8,22301,129063,0,599,248,936,2771,0
9,34565,221854,672,505,328,0,3780,0
10,11482,54857,0,596,0,224,2305,0
11,22977,53549,0,699,322,1195,1443,0
12,15318,52146,0,0,0,148,3055,0
13,23017,104706,0,483,228,0,3131,0
14,8213,84606,0,177,189,3004,1292,0
15,24315,104019,0,421,236,1709,2759,0
16,11588,116662,0,200,243,2721,1636,0
17,11317,77824,0,168,0,7046,1830,0
18,39780,201886,0,806,0,2489,5095,0
19,27426,68782,0,726,233,1035,3870,0
20,19985,125361,0,130,249,0,2737,0
21,3043,27531,0,73,474,208,877,0
22,31680,61110,993,768,0,72,1963,0
23,24910,133074,0,519,833,0,2297,0
24,20303,72248,0,601,233,0,3865,0
25,31118,134319,2551,926,1080,193,2408,0
26,38263,170227,0,545,249,1037,4214,0
27,19591,41320,0,428,0,0,2751,0
28,22906,87456,0,412,0,139,2135,0
29,28705,66795,0,179,234,1301,1736,0
30,18831,56172,0,297,0,344,2315,0
31,6369,38377,0,0,194,0,676,0
32,9785,36225,1991,0,0,919,457,0
33,14461,49826,298,0,210,931,890,0
34,28929,117310,0,400,454,0,2007,0

In [79]:
sequence = [2,3,4,5,6,7,8,9]
temp = pd.concat([newDf[sequence]],axis=1)
temp.to_csv("result.csv")
sequence = []
for i in range(10,162):
    if(len(sequence) == 8):
        arg = sequence
        temp = pd.concat([newDf[arg]],axis=1)
        temp.to_csv("result" + str(i) + ".csv")
        sequence = []
    else:    
        sequence.append(i)
    
    
    #fileDf = pd.concat((commonDf,temp),axis =1)
    #fileDf.to_csv("result" + str(i) + ".csv")
    
#sequence

In [92]:
seq = []
start = 1
end = 8
arg1 = []
for i in range(0,16):
    if(i+1 % 8 == 0):
        arg1 = seq[(start+1):(end+1)]
    #seq.append(i)

print(arg1)

[]